.pagination{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 32px 21px 20px;
  border-top: 1px solid #313549;

  @media(max-width: 768px) {
    flex-wrap: wrap;
    padding: 20px 10px 0 10px;
  }
}

.result{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #696E87;

  @media(max-width: 768px) {
    margin-left: 10px;
    width: 100%;
  }
}