@import "~@betnomi/libs/assets/styles/_variables";
@import "~@betnomi/libs/assets/styles/_mixins";

.tooltip {
  @include flexbox(center, flex-start);

  font-size: 14px;
  line-height: 21px;
  font-weight: var(--weight-500);
  color: var(--color-icon);
  height: 44px;
  padding-left: 9px;
  cursor: pointer;
  @media(max-width: 768px) {
    padding-left: 0px;
  }
}

.tootlipContent{
  background-color: #10131E;
  box-shadow: 0px 12px 24px #1e2131;
  color: #fff;
  padding: 12px;
  position: absolute;
  transform: translateX(100%);
  right: -18px;
  font-size: 11px;
  border-radius: 4px;
  width: max-content;
  max-width: 450px;
  display: none;


  &:before{
    content: "";
    width: 12px;
    height: 12px;
    display: block;
    background-color: #10131E;
    position: absolute;
    left: -6px;
    top: 50%;
    transform: rotate(45deg) translate3d(-50%, -50%, 0px);
  }
}
.tooltip:hover .tootlipContent{
  display: block;
}

.text_wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text {
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0;
  // animation: textFadeOut $transition-time linear forwards;
  white-space: nowrap;
  margin-left: 16px;

  &.active {
    animation: textFadeIn $transition-time linear forwards;
  }
}

@keyframes textFadeIn {
  0% {opacity: 0; visibility: hidden;}
  100% {opacity: 1; visibility: visible;}
}
@keyframes textFadeOut {
  0% {opacity: 1; visibility: visible;}
  100% {width: 0; margin: 0; opacity: 0; visibility: hidden;}
}

.icon {
  transition: all $transition-time;

  @media(max-width: 768px) {
    font-size: 24px !important;
  }
}

